
		#principal
		{
			width: auto; 
			height: auto;
			background: #1F76E0;
			border: 1px double #060E86;
		}
		
		#menu
		{
			width: auto;
			height: 100px;
			background: #D9D7D7;
			margin: 100px;
			border: 1px double #060E86;
		}
		#menu ul
		{
			float: right;
			padding: 0px 0px 0px 0px;
		}
		#menu ul li
		{
			display: inline-block;
			margin: 0px 0px 0px 90px;
			
		}
		#menu ul li a
		{
			color: #121210;  
		}
		#menu ul li a:hover
		{
			background-color: green;
			color: #DCEA15;
			border-bottom: 3px dotted #DCEA15;

		}
		
		#conteudo
		{
			width: 600px;
			height: 600px;	
			background: #D9D7D7;
			float: left;
			border: 1px double #060E86;
		}
		
		#anuncio
		{
			float: right;
			width: 200px;
			height: 600px;	
			background: #D9D7D7;
			border: 1px double #060E86;
		}
		
		#rodape
		{
			width: auto;
			height: 100px;
			background: #D9D7D7;
			margin-top: 1100px;
			text-align: center;
			border: 1px double #060E86;

		}
		