.bg{
	background-image: url("../imagens/fundo4.png");
	/*background-repeat: no-repeat;*/
	background-attachment: fixed;
	background-position: center;
}
.navbar-brand{
	color: white;
}
.navbar-brand:hover{
	color: white;
}
.menu{
	background: black;
	margin: 0px 0px 20px 0px;
	height: 55px;
	max-width: 100%;
}
.menucat{
	position: relative;
	height: 100%;
	width: 100%;
}

.menu ul li{
	display: inline-block;
	margin: 0px 0px 0px 10px;
}
/*.menu ul li.nav-item:hover{*/
	/*border-bottom: dashed 3px;*/
	/*border-top: solid 3px;*/
	/*border-top-color: darkgreen;*/
	/*border-bottom-color: darkgreen;*/
	/*transition: 0.1s;*/
/*}*/
.menu ul li a{
	color: white;  
}
.menu ul li a:hover{
	color: green;
}		

.conteudo{
	padding-top: 50px;
	padding-bottom: 50px;
	background: #DDE8E3;
	float: left;
	border: 1px double #5F80AF;
}
.anuncio{
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 300px;
	float: left;
	background: #DDE8E3;
	border: 1px double #5F80AF;
	opacity: 0.9;
}
.img{
	width: auto;
	height: auto; 
	padding-top: 20px;
	padding-bottom: 20px;
}
.rodape{
	width: 1200px;
	clear: both;
	background: #DDE8E3;
	margin: 0 auto;
	text-align: center;
	border: 1px double #5F80AF;
}
		