body{
	background: 
}
.text{
	float: left;
	margin: 100px;
	width: 500px;
}

.fogo{
	

}
.d{
	margin-left: 120px;
	color: #28a745;
  	background-color: black;
  	background-image: none;
  	border-color: #28a745;
}