<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta charset="utf-8"/>
	<title>Games</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'RepoGames/assets/bootstrap/css/bootstrap.css'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'RepoGames/assets/bootstrap/js/bootstrap.js'%}" />
	<link rel="stylesheet" type="text/css" href="{% static 'RepoGames/assets/css/estilo.css'%}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'RepoGames/assets/css/style-games.css'%}" />
</head>
<body>

	<div class="container-fluid">	
		<div class="row">
			<nav class="menu navbar navbar-expand-lg navbar-dark bg-dark col-12">
				<a class="navbar-brand font-weight-bold" href="{% url 'url_home'%}">Repogames</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item">
							<a class="nav-link" href="{% url 'url_home'%}">Início<span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'url_games'%}">Matérias</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'url_contato'%}">Contato</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'url_sobre'%}">Sobre</a>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn cor my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>	
		</div>
		<div class="row">
			<div class="detalhes bg-gray col-12">
				<div class="col-12">
					<span class="h5">Selecione um jogo de sua Preferência:</span>
				</div>
				<div class="col-12">
					<span class="h6">Baixe ou execute com plugin!</span>
				</div>
			</div>	
		</div>

		<div class="row">
			<div class="dropdown lado">

				<button class="btn cor2 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Matérias
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					<button class="dropdown-item" type="button">Português</button>
					<button class="dropdown-item" type="button">Português</button>
					<button class="dropdown-item" type="button">Português</button>
					<button class="dropdown-item" type="button">Português</button>
					<button class="dropdown-item" type="button">Português</button>
				</div>
			</div>

			<div class="dropdown lado">	
				<button class="btn cor2 dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Assuntos
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
					<button class="dropdown-item" type="button">Pontuação</button>
					<button class="dropdown-item" type="button">Interpretação textual</button>
					<button class="dropdown-item" type="button">Classes Morfológicas</button>
				</div>
			</div>
		</div>

		<div class="games">
			<div class="row fo">
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				<div class="col-12 col-md-4 col-sm-6 img">
					<a href="{% url 'url_informacoes'%}"><img class="bg_jogo" src="{% static 'RepoGames/assets/imagens/sem_imagem.png'%}"></a>
					<span class="h5"><a href="{% url 'url_informacoes'%}">labore</a></span>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. </span>
				</div>
				
			</div>
		</div>

		<div class="row">
			<div class="rodape-geral">
				<div class="rodape-conteudo">
					<h5>Todos os direitos Reservados</h5>
					<h6><span>RepoGames</span></h6>
				</div>
			</div>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>