{% extends "base.html" %}

<!-- Conteudo -->
{% load static %}

{% block conteudo %}
<div class="container-fluid">
	<div class="row">
		<div class="col-3 mt-4">
			<div class="sticky-top bg-dark pt-3 pb-3 pl-2 pr-2 rounded">
				<h3 class="text-center text-white">Disciplinas</h3>
				<ul class="">

					<a href="" class="text-white"><li>Português</li></a>
					<a href="" class="text-white"><li>Informática</li></a>
					<a href="" class="text-white"><li>Português</li></a>
					<a href="" class="text-white"><li>Informática</li></a>
					<a href="" class="text-white"><li>Português</li></a>
					<a href="" class="text-white"><li>Informática</li></a>
					<a href="" class="text-white"><li>Português</li></a>
					<a href="" class="text-white"><li>Informática</li></a>
					<a href="" class="text-white"><li>Português</li></a>
					<a href="" class="text-white"><li>Informática</li></a>
					<a href="" class="text-white"><li>Português</li></a>
					<a href="" class="text-white"><li>Informática</li></a>

				</ul>
			</div>
		</div>
		<div class="col-9 games-list mt-4">
			<form class="form-inline buscar">
				<input class="form-control col-10 w-100" type="search" placeholder="Ex: Matemática" aria-label="Search">
				<button class="btn btn-dark col-2" type="submit">Buscar</button>
			</form>
			<div class="container-fluid pt-1 pb-1">
				<div class="row">
					<div class="col-12 mt-2 mb-2 border rounded pt-4 pb-4">
						<h3 class="font-weight-bold text-center">REPOGAMES</h3>
						<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
				</div>
				<div class="row mt-4 mb-4 border pt-2 pb-2 rounded">
					<div class="col-2">
						<img src="{% static 'RepoGames/assets/imagens/sem_imagem.png' %}" class="w-100 center-lateral rounded " />
					</div>
					<div class="col-10 mt-3 mb-3">
						<a class="text-dark" href=""><h3 class=" border-bottom border-dark text-left font-weight-bold">Lorem</h3></a>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
						<a class="btn btn-success" href="{% url 'url_informacoes' %}"><span class="text-white">Ver mais</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
