{% extends "base.html" %}
<!--Fim do Menu-->
<!-- INICIO DO CONTEUDO -->
{% load static %}

{% block conteudo %}
<div class="container">
	<div class="row mt-3 mb-3">
		<div class="col-12 border border-dark rounded pt-2 pb-2">
			<h1 class="display-4 text-center">MORTAL LOREM</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-8 border border-dark rounded pt-3 pb-3 pl-4 pr-4">
			<div class="text-center">
				<h2>Descrição</h2>	
			</div>
			<div class="text-justify border-bottom border-dark">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
			<div class="container">
				<div class="row mt-2 mb-2">
					<div class="col-12">
						<div class="text-center">
							<h3>Imagens</h3>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<img src="{% static 'RepoGames/assets/imagens/sem_imagem.png' %}" class="w-100 rounded" />
					</div>
					<div class="col-4">
						<img src="{% static 'RepoGames/assets/imagens/sem_imagem.png' %}" class="w-100 rounded" />
					</div>
					<div class="col-4">
						<img src="{% static 'RepoGames/assets/imagens/sem_imagem.png' %}" class="w-100 rounded" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-4">
			<div class="border-dark border rounded pb-1">
				<div>
					<img src="{% static 'RepoGames/assets/imagens/sem_imagem.png' %}" class="w-100 rounded-top" />
					<a href="#" class="btn btn-success w-100 rounded-0">Baixar</a>
				</div>
				<div class="mt-2">
					<table class="table table-hover">
						<tr>
							<td class="text-right">Autor</td>
							<td class="text-left">IFRN</td>
						</tr>
						<tr>
							<td class="text-right">Tamanho</td>
							<td class="text-left">10 Megabyte</td>
						</tr>
						<tr>
							<td class="text-right">Lançamento</td>
							<td class="text-left">12/04/2019</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}